S3_BUCKET=""
STATE_FILE="terraform.tfstate"
ENCRYPTED_STATE_FILE="terraform.tfstate.age"
export TF_VAR_aws_access_key=
export TF_VAR_aws_secret_key=
export TF_VAR_headscale_server_domain=
export TF_VAR_headscale_magic_domain=
export TF_VAR_registration_email_address=
export TF_VAR_homelab_bucket_name=
export TF_VAR_tailnet_personal_username=
export TF_VAR_tailnet_nomad_server_username=
export TF_VAR_nomad_server_ip=
export TF_VAR_nomad_host_name=
export TF_VAR_nomad_ssh_user=
export TF_VAR_headscale_api_key=
export TF_VAR_headscale_key_path=
export TF_VAR_ssh_priv_key_path=
export TF_VAR_ssh_pub_key_path=


# Vault
export TF_VAR_vault_server_host_name=""

# Vault-conf
export TF_VAR_vault_root_token=
export TF_VAR_vault_unseal_key=
